## Find the closest Setup Block
#macro ( findSetupBlock $folder, $blockObjectReturnRef )
    #if ( !$_PropertyTool.isNull($folder) )
        #set ( $setupBlockPath = "${folder.path}/setup" )
        #set ( $locatedBlock = $_.locateBlock($setupBlockPath) )
        #if ( !$_PropertyTool.isNull($locatedBlock) )
            #set ( $_void = $blockObjectReturnRef.add($locatedBlock) )
        #else
            #findSetupBlock($folder.parentFolder, $blockObjectReturnRef)
        #end
    #end
#end
